@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1110px;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1128px) {
  .wrap {
    padding: 0 14px;
  }
}
.header {
  height: 800px;
  background: url(../../assets/img/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 23px;
  margin-right: 38px;
}
.header__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s linear;
}
.header__item:hover {
  color: #ff7400;
}
.header__basket {
  margin-right: 55px;
  position: relative;
}
.header__basket img {
  width: 13px;
  height: 13px;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.header__basket img:hover {
  transform: scale(1.3);
}
.header__basket::before {
  content: "";
  display: block;
  width: 1px;
  height: 51px;
  background-color: #fff;
  position: absolute;
  top: -22px;
  left: 33px;
}
.header__phone {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-right: 44px;
  padding-top: 4px;
}
.header__phone__number {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header__phone__number img {
  width: 23px;
  height: 23px;
}
.header__phone__number a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s linear;
}
.header__phone__number a:hover {
  color: #ff7400;
}
.header__phone__text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.header__btn {
  border: 1px solid transparent;
  background: #ff7400;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.header__btn:hover {
  background: #a94e04;
}
.header__burger {
  display: none;
}
.header__main {
  margin-top: 203px;
  padding-left: 8px;
}
.header__main__col {
  display: inline-block;
  text-align: center;
}
.header__main__text {
  font-family: "Tinos", sans-serif;
  font-weight: 400;
}
.header__main__text__title {
  font-size: 50px;
  color: #d67e34;
}
.header__main__text__subtitle {
  font-size: 80px;
  color: #d67e35;
}
.header__main__text__name {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 4px;
  padding-left: 17px;
}
.header__main__text__name::after {
  position: absolute;
  content: "";
  width: 61px;
  height: 2px;
  background-color: #c4c4c4;
  top: 11px;
  left: 97px;
}
.header__main__text__name::before {
  position: absolute;
  content: "";
  width: 61px;
  height: 2px;
  background-color: #c4c4c4;
  top: 11px;
  right: 77px;
}
.header__main__btn {
  margin-top: 22px;
  margin-left: 20px;
  border: 1px solid transparent;
  background: #ff7400;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 28px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.header__main__btn:hover {
  background-color: #a94e04;
}

@media (max-width: 900px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__main {
    text-align: center;
  }
  .header__main__text__title {
    font-size: 40px;
  }
  .header__main__text__subtitle {
    font-size: 60px;
  }
  .header__main__text__name {
    font-size: 18px;
  }
  .header__main__text__name::after {
    width: 55px;
    height: 1px;
    top: 11px;
    left: 42px;
  }
  .header__main__text__name::before {
    width: 55px;
    height: 1px;
    top: 11px;
    right: 25px;
  }
}
@media (max-width: 540px) {
  .header {
    background: url(../../assets/img/hero_image_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__logo img {
    width: 45px;
    height: 31px;
  }
  .header__main {
    text-align: center;
  }
  .header__main__text__title {
    font-size: 30px;
  }
  .header__main__text__subtitle {
    font-size: 40px;
  }
  .header__main__text__name {
    font-size: 15px;
  }
  .header__main__text__name::after {
    display: none;
  }
  .header__main__text__name::before {
    display: none;
  }
}
.section-1__cards {
  display: flex;
  gap: 31px;
  margin-top: -103px;
}
.section-1__card {
  display: flex;
  flex-direction: column;
  width: 349px;
  height: 260px;
  align-items: center;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-family: "Tinos", sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding-top: 48px;
  padding: 48px 20px 20px 20px;
}
.section-1__card img {
  width: 87px;
  height: 87px;
}
.section-1__card__title {
  padding-top: 4px;
  color: #2c2c2c;
}
.section-1__card__title span {
  color: #bc9060;
}
.section-1__card__desc {
  padding-top: 20px;
  text-align: center;
  color: #656363;
}
.section-1__history {
  margin-top: 166px;
  display: flex;
  gap: 125px;
}
.section-1__history__text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 442px;
}
.section-1__history__text__title {
  font-family: "Tinos", sans-serif;
  text-align: center;
  font-size: 54px;
  color: #000;
}
.section-1__history__text__title span {
  color: #d67e34;
}
.section-1__history__text__desc {
  margin-top: 21px;
  font-size: 16px;
  text-align: center;
  color: #656363;
  font-family: "Open Sans", sans-serif;
}
.section-1__history__text__count {
  display: flex;
  margin-top: 83px;
  justify-content: center;
  gap: 41px;
  font-family: "Open Sans", sans-serif;
}
.section-1__history__text__count__block {
  flex-direction: column;
}
.section-1__history__text__count__block__num {
  font-size: 40px;
  text-align: center;
  color: #bc9060;
}
.section-1__history__text__count__block__name {
  font-size: 20px;
  text-align: center;
  color: #000;
}
.section-1__history__imgs {
  position: relative;
  height: auto;
  flex: 1;
}
.section-1__history__imgs__img-1 {
  position: absolute;
  z-index: 100;
  top: 182px;
  left: 287px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.section-1__history__imgs__img-2 {
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 191px;
}
.section-1__history__imgs__img-3 {
  position: absolute;
  z-index: 100;
  top: 16px;
  left: -10px;
}
.section-1__history__imgs__img-4 {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 287px;
}

/*# sourceMappingURL=style.css.map */
