body {
font-family: "Tinos", serif;
font-weight: 400;
font-style: normal;
}

.container {
    @include min-max(320px, 100%);
}


.wrap {
    @include min-max(320px, 1110px);
}



img {
    @include img
}

@media (max-width: 1128px) {
    .wrap {
        padding: 0 14px;
    }
}