.footer {
    background: url("/landing_restaurant/assets/img/footer/footer_bg.jpg");
    height: 772px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 540px) {
.footer {
    display: none;
}
}