.section-5 {
    padding-top: 99px;
    background-color: #E5E5E5;
}

.review {
    text-align: center;

    &__block {
        text-align: center;

    }

    &__text {

        &__block {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        max-width: 920px;
        font-family: $font-family;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: $black;
    }

    &__img {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }


    &__status {
        margin-top: 16px;
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        color: $black;
    }

    &__name {
        margin-top: 9px;
        padding-bottom: 139px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        color: black;
    }
}

.swiper-container-review {
    display: flex;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Стили для пагинации */
.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px; /* Задаём отступы сверху для точек */
    text-align: center; /* Центрируем точки */
  }
  
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: #c4c4c4;; /* Цвет точки */
    opacity: 1;
    margin: 0 9px; /* Отступ между точками */
    border-radius: 50%; /* Закругляем точки */
    display: inline-block;
  }
  
  .swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 1px solid #ff7400; /* Цвет активной точки */
}
  

@media (max-width: 1110px) {
    .section-5 {
        padding-top: 10px;
        background-color: #E5E5E5;
    }
}